.full-bleed {
  width: 100vw !important;
  max-width: 100vw !important;
  position: relative !important;
  margin-left: -50vw !important;
  left: 50% !important;
}

/*
TODO: any other layout-level css for helper classes or whatnot can go in here.
*/
