{#
/**
 * @file
 * Sprout List Item template. 2 Columns (stacked).
 * middle_first and middle_second column widths are set dynamically based on content.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - top
 * - middle
 * -- middle_first
 * -- middle_second
 * - bottom
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 *
 * Other variables:
 * - content.inverse: if true, middle first and middle second content will flip.
 * - content.stretch: if true, content will be full-bleed along with container.
 */
#}

{% set classes = [
  layout ? 'layout--' ~ layout.label|clean_class,
  layout ? 'template--' ~ layout.template|clean_class,
  node and not node.isPublished() ? 'is-unpublished',
  paragraph and not paragraph.status ? 'is-unpublished',
] %}
{# Inverse will flip the position of the middle_first and middle_second regions. #}
{% set pull_first = content['#inverse'] ? 'pull-right' %}
{% set pull_second = content['#inverse'] ? 'pull-left' %}
{# True for story paragraphs. Content in middle_first and middle_second stretch across middle full-bleed. #}
{% set stretch_content = content['#stretch'] ?: false %}

<{{ wrapper }}{{ attributes.addClass(classes) }}>
{% if attributes.hasClass('full-bleed') and stretch_content != true %}
<div class="container">
  <div class="row">
    <div {{ create_attribute({'class': config_classes_nested.layout }) }}>
      {% endif %}
      {{ title_suffix.contextual_links }}

      {# Top region #}
      {% block top %}
      {% if top.content|render %}
      <{{ top.wrapper }}{{ top.attributes }}>
      {% if top.attributes.hasClass('full-bleed') and stretch_content != true %}
      <div class="container">
        <div class="row">
          <div {{ create_attribute({'class': config_classes_nested.top }) }}>
            {% endif %}
            {{ top.content }}
            {% if top.attributes.hasClass('full-bleed') and stretch_content != true %}
          </div>
        </div>
      </div>
      {% endif %}
    </{{ top.wrapper }}>
    {% endif %}
    {% endblock top %}

    {# Middle #}
    {% block middle %}
    {% if middle.content|render or middle_first.content|render or middle_second.content|render %}
    <{{ middle.wrapper }}{{ middle.attributes }}>
    {% if middle.attributes.hasClass('full-bleed') and stretch_content != true %}
    <div class="container">
      <div class="row">
        <div {{ create_attribute({'class': config_classes_nested.middle }) }}>
          {% endif %}

          {# Middle region #}
          {% if middle.content|render %}
            {{ middle.content }}
          {% endif %}

          {% if middle_first.content|render or middle_second.content|render %}
          <div class="row">

            {# Middle first region #}
            {% block middle_first %}
            {% if middle_first.content|render %}
            <{{ middle_first.wrapper }}{{ middle_first.attributes.addClass(pull_first) }}>
            {{ middle_first.content }}
          </{{ middle_first.wrapper }}>
          {% endif %}
          {% endblock middle_first %}

          {# Middle second region #}
          {% block middle_second %}
          {% if middle_second.content|render %}
          <{{ middle_second.wrapper }}{{ middle_second.attributes.addClass(pull_second) }}>
          {{ middle_second.content }}
        </{{ middle_second.wrapper }}>
        {% endif %}
        {% endblock middle_second %}

      </div>
      {% endif %}

      {% if middle.attributes.hasClass('full-bleed') and stretch_content != true %}
    </div>
  </div>
</div>
  {% endif %}
  </{{ middle.wrapper }}>
  {% endif %}
    {% endblock middle %}

      {# Bottom region #}
      {% block bottom %}
        {% if bottom.content|render %}
          <{{ bottom.wrapper }}{{ bottom.attributes }}>
          {% if bottom.attributes.hasClass('full-bleed') and stretch_content != true %}
            <div class="container">
            <div class="row">
            <div {{ create_attribute({'class': config_classes_nested.bottom }) }}>
          {% endif %}
          {{ bottom.content }}
          {% if bottom.attributes.hasClass('full-bleed') and stretch_content != true %}
            </div>
            </div>
            </div>
          {% endif %}
          </{{ bottom.wrapper }}>
        {% endif %}
      {% endblock bottom %}

{% if attributes.hasClass('full-bleed') and stretch_content != true %}
  </div>
  </div>
  </div>
{% endif %}
</{{ wrapper }}>
