{#
/**
 * @file
 * Sprout Standard layout.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - top: Not a real region, defined in ma_sprout_layouts_preprocess_sprout_standard().
 * -- top_first
 * -- top_second
 * - middle: Not a real region, defined in ma_sprout_layouts_preprocess_sprout_standard().
 * -- middle_aside
 * -- middle_main: Not a real region, defined in ma_sprout_layouts_preprocess_sprout_standard().
 * --- main_top
 * --- sidebar_first
 * --- main
 * --- sidebar_second
 * --- main_bottom
 * - bottom: Not a real region, defined in ma_sprout_layouts_preprocess_sprout_standard().
 * -- bottom_first
 * -- bottom_second
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}

{% set classes = [
  layout ? 'layout--' ~ layout.label|clean_class,
  layout ? 'template--' ~ layout.template|clean_class,
  node and not node.isPublished() ? 'is-unpublished',
  paragraph and not paragraph.status ? 'is-unpublished',
] %}

<{{ wrapper }}{{ attributes.addClass(classes) }}>
{% if attributes.hasClass('full-bleed') %}
<div class="container">
  <div class="row">
    <div {{ create_attribute({'class': config_classes_nested.layout }) }}
    {% endif %}
    {{ title_suffix.contextual_links }}

    {# Top #}
    {% block top %}
    {% if top_first.content|render or top_second.content|render %}
    <{{ top.wrapper }}{{ top.attributes }}>
    <div class="row">

      {# Top first region #}
      {% block top_first %}
      {% if top_first.content|render %}
      <{{ top_first.wrapper }}{{ top_first.attributes }}>
      {% if top_first.attributes.hasClass('full-bleed') %}
      <div class="container">
        <div class="row">
          <div {{ create_attribute({'class': config_classes_nested.top_first }) }}>
            {% endif %}
            {{ top_first.content }}
            {% if top_first.attributes.hasClass('full-bleed') %}
          </div>
        </div>
      </div>
      {% endif %}
    </{{ top_first.wrapper }}>
    {% endif %}
    {% endblock %}

    {# Top second region #}
    {% block top_second %}
    {% if top_second.content|render %}
    <{{ top_second.wrapper }}{{ top_second.attributes }}>
    {% if top_second.attributes.hasClass('full-bleed') %}
    <div class="container">
      <div class="row">
        <div {{ create_attribute({'class': config_classes_nested.top_second }) }}>
          {% endif %}
          {{ top_second.content }}
          {% if top_second.attributes.hasClass('full-bleed') %}
        </div>
      </div>
    </div>
    {% endif %}
  </{{ top_second.wrapper }}>
  {% endif %}
  {% endblock %}

</div>
  </{{ top.wrapper }}>
  {% endif %}
  {% endblock %}

{# Middle #}
{% block middle %}
  {% if middle_first.content|render or
    main_top.content|render or
    main_aside.content|render or
    main.content|render or
    main_bottom.content|render or
    sidebar_first.content|render or
    sidebar_second.content|render or
    middle_second.content|render
  %}
    <{{ middle.wrapper }}{{ middle.attributes }}>
    <div class="row">

    {# Middle first region #}
    {% block middle_first %}
      {% if middle_first.content|render %}
        <{{ middle_first.wrapper }}{{ middle_first.attributes }}>
        {% if middle_first.attributes.hasClass('full-bleed') %}
          <div class="container">
          <div class="row">
          <div {{ create_attribute({'class': config_classes_nested.middle_first }) }}>
        {% endif %}
        {{ middle_first.content }}
        {% if middle_first.attributes.hasClass('full-bleed') %}
          </div>
          </div>
          </div>
        {% endif %}
        </{{ middle_first.wrapper }}>
      {% endif %}
    {% endblock %}

    {# Middle main #}
    {% block middle_main %}
      {% if main_top.content|render or main_aside.content|render or main.content|render  or main_bottom.content|render %}
        <{{ middle_main.wrapper }}{{ middle_main.attributes }}>
        <div class="row">

        {# Main top region #}
        {% block main_top %}
          {% if main_top.content|render %}
            <{{ main_top.wrapper }}{{ main_top.attributes }}>
            {{ main_top.content }}
            </{{ main_top.wrapper }}>
          {% endif %}
        {% endblock %}

        {# Main aside region #}
        {% block main_aside %}
          {% if main_aside.content|render %}
            <{{ main_aside.wrapper }}{{ main_aside.attributes }}>
            {% if main_aside.content|render %}
              {{ main_aside.content }}
            {% endif %}
            </{{ main_aside.wrapper }}>
          {% endif %}
        {% endblock %}

        {# Main region #}
        {% block main %}
          {% if main.content|render %}
            <{{ main.wrapper }}{{ main.attributes }}>
            {{ main.content }}
            </{{ main.wrapper }}>
          {% endif %}
        {% endblock %}

        {# Main bottom region #}
        {% block main_bottom %}
          {% if main_bottom.content|render %}
            <{{ main_bottom.wrapper }}{{ main_bottom.attributes }}>
            {{ main_bottom.content }}
            </{{ main_bottom.wrapper }}>
          {% endif %}
        {% endblock %}

        </div>
        </{{ middle_main.wrapper }}>
      {% endif %}
    {% endblock %}

    {# Middle sidebar #}
    {% block middle_sidebar %}
      {% if sidebar_first.content|render or sidebar_second.content|render %}
        <{{ middle_sidebar.wrapper }}{{ middle_sidebar.attributes }}>
        <div class="row">

        {# Sidebar first region #}
        {% block sidebar_first %}
          {% if sidebar_first.content|render %}
            <{{ sidebar_first.wrapper }}{{ sidebar_first.attributes }}>
            {{ sidebar_first.content }}
            </{{ sidebar_first.wrapper }}>
          {% endif %}
        {% endblock %}

        {# Sidebar second region #}
        {% block sidebar_second %}
          {% if sidebar_second.content|render %}
            <{{ sidebar_second.wrapper }}{{ sidebar_second.attributes }}>
            {{ sidebar_second.content }}
            </{{ sidebar_second.wrapper }}>
          {% endif %}
        {% endblock %}

        </div>
        </{{ middle_sidebar.wrapper }}>
      {% endif %}
    {% endblock %}

    {# Middle second region #}
    {% block middle_second %}
      {% if middle_second.content|render %}
        <{{ middle_second.wrapper }}{{ middle_second.attributes }}>
        {% if middle_second.attributes.hasClass('full-bleed') %}
          <div class="container">
          <div class="row">
          <div {{ create_attribute({'class': config_classes_nested.middle_second }) }}>
        {% endif %}
        {{ middle_second.content }}
        {% if middle_second.attributes.hasClass('full-bleed') %}
          </div>
          </div>
          </div>
        {% endif %}
        </{{ middle_second.wrapper }}>
      {% endif %}
    {% endblock %}

    </div>
    </{{ middle.wrapper }}>
  {% endif %}
{% endblock %}

{# Bottom #}
{% block bottom %}
  {% if bottom_first.content|render or bottom_second.content|render %}
    <{{ bottom.wrapper }}{{ bottom.attributes }}>
    <div class="row">

    {# Bottom first region #}
    {% block bottom_first %}
      {% if bottom_first.content|render %}
        <{{ bottom_first.wrapper }}{{ bottom_first.attributes }}>
        {% if bottom_first.attributes.hasClass('full-bleed') %}
          <div class="container">
          <div class="row">
          <div {{ create_attribute({'class': config_classes_nested.bottom_first }) }}>
        {% endif %}
        {{ bottom_first.content }}
        {% if bottom_first.attributes.hasClass('full-bleed') %}
          </div>
          </div>
          </div>
        {% endif %}
        </{{ bottom_first.wrapper }}>
      {% endif %}
    {% endblock %}

    {# Bottom second region #}
    {% block bottom_second %}
      {% if bottom_second.content|render %}
        <{{ bottom_second.wrapper }}{{ bottom_second.attributes }}>
        {% if bottom_second.attributes.hasClass('full-bleed') %}
          <div class="container">
          <div class="row">
          <div {{ create_attribute({'class': config_classes_nested.bottom_second }) }}>
        {% endif %}
        {{ bottom_second.content }}
        {% if bottom_second.attributes.hasClass('full-bleed') %}
          </div>
          </div>
          </div>
        {% endif %}
        </{{ bottom_second.wrapper }}>
      {% endif %}
    {% endblock %}

    </div>
    </{{ bottom.wrapper }}>
  {% endif %}
{% endblock %}

{% if attributes.hasClass('full-bleed') %}
  </div>
  </div>
  </div>
{% endif %}
</{{ wrapper }}>
