{#
/**
 * @file
 * Sprout Minimal layout. 1 Column.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - main
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}

{% set classes = [
  layout ? 'layout--' ~ layout.label|clean_class,
  layout ? 'template--' ~ layout.template|clean_class,
  node and not node.isPublished() ? 'is-unpublished',
  paragraph and not paragraph.status ? 'is-unpublished',
] %}

<{{ wrapper }}{{ attributes.addClass(classes) }}>
{{ title_suffix.contextual_links }}

  {# Main region #}
  {% block main %}
    <{{ main.wrapper }}{{ main.attributes }}>
    {{ main.content }}
    </{{ main.wrapper }}>
  {% endblock %}

</{{ wrapper }}>
