{% use "sprout-regions.html.twig" %}
{#
/**
 * @file
 * Sprout Simple layout. 1 Column (stacked).
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - top
 * - main
 * - bottom
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
{% block colwidths %}
{% set colwidth_top = colwidth_top ?: '' %}
{% set colwidth_main = colwidth_main ?: '' %}
{% set colwidth_bottom = colwidth_bottom ?: '' %}
{% endblock %}

<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}

  {# Top #}
  {% block top %}
    {# Top region #}
    {% block region_top %}
    {{ parent() }}
    {% endblock %}
  {% endblock %}

  {# Main #}
  {% block main %}
    {# Main region #}
    {% block region_main %}
    {{ parent() }}
    {% endblock %}
  {% endblock %}

  {# Bottom #}
  {% block bottom %}
    {# Bottom region #}
    {% block region_bottom %}
    {{ parent() }}
    {% endblock %}
  {% endblock %}

</{{ wrapper }}>
