{% use "sprout-regions.html.twig" %}
{#
/**
 * @file
 * Sprout Standard layout. 2 Columns (stacked).
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - top
 * - left
 * - right
 * - bottom
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}

{% block colwidths %}
{% set colwidth_top = colwidth_top ?: '' %}
{% set colwidth_left = colwidth_left ?: '' %}
{% set colwidth_right = colwidth_right ?: '' %}
{% set colwidth_bottom = colwidth_bottom ?: '' %}
{% endblock %}

<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}

  {# Top #}
  {% block top %}
    {# Top region #}
    {% block region_top %}
    {{ parent() }}
    {% endblock %}
  {% endblock %}

  {# Main #}
  {% block main %}
    {# Left region #}
    {% block region_left %}
    {{ parent() }}
    {% endblock %}

    {# Right region #}
    {% block region_right %}
    {{ parent() }}
    {% endblock %}
  {% endblock %}

  {# Bottom #}
  {% block bottom %}
    {# Bottom region #}
    {% block region_bottom %}
    {{ parent() }}
    {% endblock %}
  {% endblock %}

</{{ wrapper }}>
