{# Top region #}
{% block region_top %}
{% if top.content|render %}
{# inject dynamic column width #}
{% if colwidth_top %}
<{{ top.wrapper }}{{ top.attributes.addClass(colwidth_top) }}>
{% else %}
<{{ top.wrapper }}{{ top.attributes }}>
{% endif %}
{# add full-bleed markup #}
{% if top.attributes.hasClass('full-bleed') %}
<div class="container">
  <div class="row">
    <div {{ create_attribute({'class': col_classes.top }) }}>
{% endif %}
  {{ top.content }}
{% if top.attributes.hasClass('full-bleed') %}
    </div>
  </div>
</div>
{% endif %}
</{{ top.wrapper }}>
{% endif %}
{% endblock region_top %}


{# Bottom region #}
{% block region_bottom %}
{% if bottom.content|render %}
{# inject dynamic column width #}
{% if colwidth_bottom %}
<{{ bottom.wrapper }}{{ bottom.attributes.addClass(colwidth_bottom) }}>
{% else %}
<{{ bottom.wrapper }}{{ bottom.attributes }}>
{% endif %}
{# add full-bleed markup #}
{% if bottom.attributes.hasClass('full-bleed') %}
<div class="container">
  <div class="row">
    <div {{ create_attribute({'class': col_classes.bottom }) }}>
{% endif %}
  {{ bottom.content }}
{% if bottom.attributes.hasClass('full-bleed') %}
    </div>
  </div>
</div>
{% endif %}
</{{ bottom.wrapper }}>
{% endif %}
{% endblock region_bottom %}


{# Main region #}
{% block region_main %}
{% if main.content|render %}
{# inject dynamic column width #}
{% if colwidth_main %}
<{{ main.wrapper }}{{ main.attributes.addClass(colwidth_main) }}>
{% else %}
<{{ main.wrapper }}{{ main.attributes }}>
{% endif %}
{# add full-bleed markup #}
{% if main.attributes.hasClass('full-bleed') %}
<div class="container">
  <div class="row">
    <div {{ create_attribute({'class': col_classes.main }) }}>
{% endif %}
  {{ main.content }}
{% if main.attributes.hasClass('full-bleed') %}
    </div>
  </div>
</div>
{% endif %}
</{{ main.wrapper }}>
{% endif %}
{% endblock region_main %}


{# Left region #}
{% block region_left %}
{% if left.content|render %}
{# inject dynamic column width #}
{% if colwidth_left %}
<{{ left.wrapper }}{{ left.attributes.addClass(colwidth_left) }}>
{% else %}
<{{ left.wrapper }}{{ left.attributes }}>
{% endif %}
{# add full-bleed markup #}
{% if left.attributes.hasClass('full-bleed') %}
<div class="container">
  <div class="row">
    <div {{ create_attribute({'class': col_classes.left }) }}>
{% endif %}
  {{ left.content }}
{% if left.attributes.hasClass('full-bleed') %}
    </div>
  </div>
</div>
{% endif %}
</{{ left.wrapper }}>
{% endif %}
{% endblock region_left %}


{# Right region #}
{% block region_right %}
{% if right.content|render %}
{# inject dynamic column width #}
{% if colwidth_right %}
<{{ right.wrapper }}{{ right.attributes.addClass(colwidth_right) }}>
{% else %}
<{{ right.wrapper }}{{ right.attributes }}>
{% endif %}
{# add full-bleed markup #}
{% if right.attributes.hasClass('full-bleed') %}
<div class="container">
  <div class="row">
    <div {{ create_attribute({'class': col_classes.right }) }}>
{% endif %}
  {{ right.content }}
{% if right.attributes.hasClass('full-bleed') %}
    </div>
  </div>
</div>
{% endif %}
</{{ right.wrapper }}>
{% endif %}
{% endblock region_right %}
