{% use "sprout-regions.html.twig" %}
{#
/**
 * @file
 * Sprout Minimal layout. 1 Column.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - main
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
{% block colwidths %}
{% set colwidth_main = colwidth_main ?: '' %}
{% endblock %}

<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}

  {% block top %}
  {% endblock %}

  {# Main #}
  {% block main %}
    {# Main region #}
    {% block region_main %}
    {{ parent() }}
    {% endblock %}
  {% endblock %}

  {% block bottom %}
  {% endblock %}

</{{ wrapper }}>
