{#
/**
 * @file
 * Sprout Minimal layout. 1 Column.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - main
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}

{%
  set classes = [
  node.bundle|clean_class,
  view_mode ? view_mode|clean_class,
  not node.isPublished() ? 'is-unpublished',
]
%}

<{{ wrapper }}{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  <{{ main.wrapper }}{{ main.attributes }}>
    {{ main.content }}
  </{{ main.wrapper }}>
</{{ wrapper }}>
