{#
/**
 * @file
 * Sprout Standard layout. 2 Columns (stacked).
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - top
 * - left
 * - right
 * - bottom
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}

{%
  set classes = [
  node.bundle|clean_class,
  view_mode ? view_mode|clean_class,
  not node.isPublished() ? 'is-unpublished',
]
%}

<{{ wrapper }}{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}

  {# Top region #}
  {% block top %}
  {% if top.content|render %}
  <{{ top.wrapper }}{{ top.attributes }}>
    {{ top.content }}
  </{{ top.wrapper }}>
  {% endif %}
  {% endblock top %}

  {# Main content #}
  {% block main %}
    {# Left region #}
    {% block left %}
    {% if left.content|render %}
    <{{ left.wrapper }}{{ left.attributes }}>
      {{ left.content }}
    </{{ left.wrapper }}>
    {% endif %}
    {% endblock left %}

    {# Right region #}
    {% block right %}
    {% if right.content|render %}
    <{{ right.wrapper }}{{ right.attributes }}>
      {{ right.content }}
    </{{ right.wrapper }}>
    {% endif %}
    {% endblock right %}
  {% endblock main %}

  {# Bottom region #}
  {% block bottom %}
  {% if bottom.content|render %}
  <{{ bottom.wrapper }}{{ bottom.attributes }}>
    {{ bottom.content }}
  </{{ bottom.wrapper }}>
  {% endif %}
{% endblock bottom %}

</{{ wrapper }}>
