{#
/**
 * @file
 * This template will just print fields found in the content (regardless of region).
 * No wrapper, attributes, etc.
 */
#}

{% for key,item in content %}
  {% if key starts with 'field_' %}
    {{ item }}
  {% endif %}
{% endfor %}
